{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" onsubmit="return submitForm(this);">
                        <!-- 基本信息 -->
                        <div class="mb-4">
                            <h5>基本信息</h5>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="form-label">姓名</label>
                                    <input type="text" class="form-control" name="name" placeholder="待添加" value="{{ current_user.name if current_user.name and current_user.name != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">工号</label>
                                    <input type="text" class="form-control" name="employee_number" placeholder="待添加" value="{{ current_user.employee_number if current_user.employee_number and current_user.employee_number != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">性别</label>
                                    <select class="form-select" name="gender">
                                        <option value="">请选择</option>
                                        <option value="男" {% if current_user.gender == '男' %}selected{% endif %}>男</option>
                                        <option value="女" {% if current_user.gender == '女' %}selected{% endif %}>女</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">民族</label>
                                    <input type="text" class="form-control" name="ethnicity" placeholder="待添加" value="{{ current_user.ethnicity if current_user.ethnicity and current_user.ethnicity != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">出生日期</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" name="birth_date" value="{{ current_user.birth_date.strftime('%Y-%m-%d') if current_user.birth_date else '' }}" onchange="calculateAge(this)">
                                        <span class="input-group-text" id="age-display">{% if current_user.birth_date %}{{ current_user.age }}岁{% else %}待添加{% endif %}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">身份证号</label>
                                    <input type="text" class="form-control" name="id_number" placeholder="待添加" value="{{ current_user.id_number if current_user.id_number and current_user.id_number != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">政治面貌</label>
                                    <input type="text" class="form-control" name="political_status" placeholder="待添加" value="{{ current_user.political_status if current_user.political_status and current_user.political_status != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">入党时间</label>
                                    <input type="date" class="form-control" name="party_join_date" value="{{ current_user.party_join_date.strftime('%Y-%m-%d') if current_user.party_join_date else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">籍贯</label>
                                    <input type="text" class="form-control" name="hometown" placeholder="待添加" value="{{ current_user.hometown if current_user.hometown and current_user.hometown != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">联系电话</label>
                                    <input type="tel" class="form-control" name="phone" placeholder="待添加" value="{{ current_user.phone if current_user.phone and current_user.phone != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">电子邮箱</label>
                                    <input type="email" class="form-control" name="email" placeholder="待添加" value="{{ current_user.email if current_user.email and current_user.email != 'None' else '' }}">
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">家庭住址</label>
                                    <input type="text" class="form-control" name="address" placeholder="待添加" value="{{ current_user.address if current_user.address and current_user.address != 'None' else '' }}">
                                </div>
                            </div>
                        </div>

                        <!-- 教育背景 -->
                        <div class="mb-4">
                            <h5>教育背景</h5>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="form-label">学历</label>
                                    <input type="text" class="form-control" name="education_level" placeholder="待添加" value="{{ current_user.education_level if current_user.education_level and current_user.education_level != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">学位</label>
                                    <input type="text" class="form-control" name="degree" placeholder="待添加" value="{{ current_user.degree if current_user.degree and current_user.degree != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">获得学历时间</label>
                                    <input type="date" class="form-control" name="education_date" value="{{ current_user.education_date.strftime('%Y-%m-%d') if current_user.education_date else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">获得学位时间</label>
                                    <input type="date" class="form-control" name="degree_date" value="{{ current_user.degree_date.strftime('%Y-%m-%d') if current_user.degree_date else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">本科毕业学校</label>
                                    <input type="text" class="form-control" name="bachelor_school" placeholder="待添加" value="{{ current_user.bachelor_school if current_user.bachelor_school and current_user.bachelor_school != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">硕士毕业学校</label>
                                    <input type="text" class="form-control" name="master_school" placeholder="待添加" value="{{ current_user.master_school if current_user.master_school and current_user.master_school != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">博士毕业学校</label>
                                    <input type="text" class="form-control" name="phd_school" placeholder="待添加" value="{{ current_user.phd_school if current_user.phd_school and current_user.phd_school != 'None' else '' }}">
                                </div>
                            </div>
                        </div>

                        <!-- 工作信息 -->
                        <div class="mb-4">
                            <h5>工作信息</h5>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="form-label">专业</label>
                                    <input type="text" class="form-control" name="major" placeholder="待添加" value="{{ current_user.major if current_user.major and current_user.major != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">所属教研室</label>
                                    <input type="text" class="form-control" name="teaching_group" placeholder="待添加" value="{{ current_user.teaching_group if current_user.teaching_group and current_user.teaching_group != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">是否双师</label>
                                    <select class="form-select" name="is_dual_teacher">
                                        <option value="">请选择</option>
                                        <option value="是" {% if current_user.is_dual_teacher == '是' %}selected{% endif %}>是</option>
                                        <option value="否" {% if current_user.is_dual_teacher == '否' %}selected{% endif %}>否</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">获得奖励称号</label>
                                    <input type="text" class="form-control" name="award_title" placeholder="待添加" value="{{ current_user.award_title if current_user.award_title and current_user.award_title != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">人才称号</label>
                                    <input type="text" class="form-control" name="talent_title" placeholder="待添加" value="{{ current_user.talent_title if current_user.talent_title and current_user.talent_title != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">研究方向</label>
                                    <input type="text" class="form-control" name="research_direction" placeholder="待添加" value="{{ current_user.research_direction if current_user.research_direction and current_user.research_direction != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">入校时间</label>
                                    <input type="date" class="form-control" name="work_start_date" value="{{ current_user.work_start_date.strftime('%Y-%m-%d') if current_user.work_start_date else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">参加工作时间</label>
                                    <input type="date" class="form-control" name="career_start_date" value="{{ current_user.career_start_date.strftime('%Y-%m-%d') if current_user.career_start_date else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">最高级职称</label>
                                    <input type="text" class="form-control" name="highest_title" placeholder="待添加" value="{{ current_user.highest_title if current_user.highest_title and current_user.highest_title != 'None' else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">获得最高级职称时间</label>
                                    <input type="date" class="form-control" name="highest_title_date" value="{{ current_user.highest_title_date.strftime('%Y-%m-%d') if current_user.highest_title_date else '' }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">职务</label>
                                    <select class="form-select" name="position">
                                        <option value="">请选择</option>
                                        <option value="院长" {% if current_user.position == '院长' %}selected{% endif %}>院长</option>
                                        <option value="副院长" {% if current_user.position == '副院长' %}selected{% endif %}>副院长</option>
                                        <option value="党总支书记" {% if current_user.position == '党总支书记' %}selected{% endif %}>党总支书记</option>
                                        <option value="党总支副书记" {% if current_user.position == '党总支副书记' %}selected{% endif %}>党总支副书记</option>
                                        <option value="教务办主任" {% if current_user.position == '教务办主任' %}selected{% endif %}>教务办主任</option>
                                        <option value="产业办主任" {% if current_user.position == '产业办主任' %}selected{% endif %}>产业办主任</option>
                                        <option value="教研室主任" {% if current_user.position == '教研室主任' %}selected{% endif %}>教研室主任</option>
                                        <option value="教学秘书" {% if current_user.position == '教学秘书' %}selected{% endif %}>教学秘书</option>
                                        <option value="专业负责人" {% if current_user.position == '专业负责人' %}selected{% endif %}>专业负责人</option>
                                        <option value="教师" {% if current_user.position == '教师' %}selected{% endif %}>教师</option>
                                        <option value="辅导员" {% if current_user.position == '辅导员' %}selected{% endif %}>辅导员</option>
                                        <option value="其他" {% if current_user.position == '其他' %}selected{% endif %}>其他</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">学科</label>
                                    <select class="form-select" name="subject">
                                        <option value="">请选择</option>
                                        <option value="数学" {% if current_user.subject == '数学' %}selected{% endif %}>数学</option>
                                        <option value="计算机科学与技术" {% if current_user.subject == '计算机科学与技术' %}selected{% endif %}>计算机科学与技术</option>
                                        <option value="其他" {% if current_user.subject == '其他' %}selected{% endif %}>其他</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">保存修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function calculateAge(input) {
    const birthDate = new Date(input.value);
    const today = new Date();
    let age = today.getFullYear() - birthDate.getFullYear();
    const monthDiff = today.getMonth() - birthDate.getMonth();
    
    if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
        age--;
    }
    
    const ageDisplay = document.getElementById('age-display');
    if (input.value) {
        ageDisplay.textContent = age + '岁';
    } else {
        ageDisplay.textContent = '待添加';
    }
}

function submitForm(form) {
    fetch(form.action, {
        method: 'POST',
        body: new FormData(form)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('网络响应出错');
        }
        return response.text();
    })
    .then(html => {
        // 显示成功消息
        const successMessage = document.createElement('div');
        successMessage.className = 'alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3';
        successMessage.style.zIndex = '1050';
        successMessage.innerHTML = `
            个人信息更新成功
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;
        document.body.appendChild(successMessage);

        // 解析返回的HTML并更新页面内容
        const tempDiv = document.createElement('div');
        tempDiv.innerHTML = html;
        
        // 更新表单字段的值
        const newForm = tempDiv.querySelector('form');
        const currentForm = document.querySelector('form');
        
        // 更新所有input, select和textarea字段
        ['input', 'select', 'textarea'].forEach(fieldType => {
            currentForm.querySelectorAll(fieldType).forEach(field => {
                const newField = newForm.querySelector(`${fieldType}[name="${field.name}"]`);
                if (newField) {
                    if (fieldType === 'select') {
                        field.value = newField.value;
                    } else if (field.type === 'file') {
                        // 跳过文件输入框
                        return;
                    } else {
                        field.value = newField.value;
                    }
                }
            });
        });

        // 3秒后自动关闭消息
        setTimeout(() => {
            if (successMessage.parentNode) {
                successMessage.remove();
            }
        }, 3000);
    })
    .catch(error => {
        console.error('Error:', error);
        // 显示错误消息
        const errorMessage = document.createElement('div');
        errorMessage.className = 'alert alert-danger alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3';
        errorMessage.style.zIndex = '1050';
        errorMessage.innerHTML = `
            更新失败，请重试
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;
        document.body.appendChild(errorMessage);
        
        // 3秒后自动关闭消息
        setTimeout(() => {
            if (errorMessage.parentNode) {
                errorMessage.remove();
            }
        }, 3000);
    });
    return false;
}
</script>
{% endblock %} 